<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spider.dao.CommentDao">

    <resultMap id="CommentBaseMap" type="com.spider.model.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="news_id" property="news_id" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="head" property="head" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="commentdate" property="commentDate" jdbcType="DATE"/>
        <result column="commentwithoutbox" property="commentWithoutBox" jdbcType="VARCHAR"/>
        <result column="boxlist" property="boxList" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="selectCommentById" parameterType="java.lang.Long" resultMap="CommentBaseMap">
        SELECT * FROM comment
        WHERE id = #{commentId}
    </select>

    <select id="selectAllComment" resultMap="CommentBaseMap">
        SELECT * FROM comment
    </select>

    <insert id="insertComment" parameterType="com.spider.model.Comment">
        insert ignore into comment (news_id,head,positions,commentdate,commentwithoutbox,boxlist)
        values (#{comment.news_id},#{comment.head},#{comment.positions},#{comment.commentDate},#{comment.commentWithoutBox},#{comment.boxList})
    </insert>

</mapper>